.DevelopmentTeamSection {
  background-color: #184a88;
  color: #fff;
}
.innerHeading {
  font-size: 35px;
    font-weight: 600;
  text-align: center;
  margin: 0 0 30px;
  font-family: "Poppins-ExtraBold";
}
.innerHeading span {
  font-size: 16px;
    display: block;
    font-family: "Poppins-Regular";
    margin: 15px 0 40px;
    line-height: 24px;
}
.hereing-content {
  padding: 20px;
  margin: 15px 0 15px 0;
  border: 1px solid #96b3d7;
  min-height: 295px;
  box-shadow: 0 1px 16px 0 #2e6dbb;
  min-height: calc(100% - 30px);
}
.hereing-content h5 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 15px;
  color: #f5f5f5;
  font-family: "Poppins-Medium";
  text-align: center;
}
.hereing-content p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.8;
  text-align: center;
  font-family: "Poppins-Regular";
}
.hireing-react-box .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hereing-content-java h5 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 15px;
  color: #f5f5f5;
  font-weight: 600;
  text-align: left;
}
/* .hereing-content-java ol {
  margin: 0;
  padding: 0 10px 0 15px;
}
.hereing-content-java ol li {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  opacity: 0.8;
  text-align: left;
}
.hireing-box-wp-Nav ul li {
  list-style: disc;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  color: #2b2b36;
}

.hireing-box-wp-Nav2 ul li {
  list-style: disc;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
} */