.main{
    margin-bottom: 30px;
}

.outer_form{
    text-align: center;
    padding: 0px 230px;
    margin: 82px 0px;
}
.inner_form{    
padding: 28px;
box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

@media screen and (max-width:900px) {
    .outer_form{
        padding: 0px;
        margin: 28px 0px;
    } 
}