
#myVideo {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .aboutBanner .col-sm-4.d-xl-none.d-lg-block {
        display: none;
    }

}
@media screen and (max-width: 992px) {
  .container_2 p {
    font-size: 12px !important;
  }
}

.ourprocessImg{
  height: auto;
  width: 100%;
}
.container_2 .img{
  height: auto;
  width: 100%;
}

.container_2 {
    width: 844px;
    margin: auto;
  }
  .container_2 p {
    color: #68696F;
    font-family: "Poppins-Regular";
    font-size: 15px;
    line-height: 1.7;
    padding: 0 20px;
  }
  .line_layout_row {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding: 60px 0;
    border-bottom: 0;
  }
  .line_layout_row:after,
  .line_layout_row:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-style: dashed;
    border-color: #eaeaea;
  }
  
  .line_layout_row:nth-child(2n):after,
  .line_layout_row:nth-child(2n):before {
    right: 105px;
    left: 50%;
  }
  .line_layout_row:nth-child(2n):before {
    top: -2px;
    bottom: 50%;
    border-width: 2px 2px 0 0;
    border-top-right-radius: 15px;
  }
  .line_layout_row:nth-child(2n):after,
  .line_layout_row:nth-child(2n):before {
    right: 105px;
  }
  .line_layout_row:nth-child(2n):after {
    top: 50%;
    bottom: 0;
    border-width: 0 2px 2px 0;
    border-bottom-right-radius: 15px;
  }
  .line_layout_row:nth-child(odd):after,
  .line_layout_row:nth-child(odd):before {
    left: 105px;
    right: 50%;
  }
  .line_layout_row:nth-child(odd):after {
    top: 50%;
    bottom: 0;
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 15px;
  }
  .line_layout_row:nth-child(odd):before {
    top: -2px;
    bottom: 50%;
    border-width: 2px 0 0 2px;
    border-top-left-radius: 15px;
  }
  .line_layout_row:nth-child(odd):after,
  .line_layout_row:nth-child(odd):before {
    left: 105px;
  }
  .img_section_op span {
    background: #fff;
    display: inline-block;
  }
  .line_layout_row:first-child:before {
    display: none;
  }
  .line_layout_row:first-child {
    padding-top: 0;
  }
  .line_layout_row:last-child:after {
    display: none;
  }
  .pl45 {
    padding-left: 20px;
  }
  .pr45 {
    padding-right: 20px;
  }
  .our_process_content .Project_planning_content span {
    font-size: 22px;
    color: #184a88;
    font-family: "Poppins-Bold";
    text-transform: uppercase;
  }
  @media screen and (max-width: 844px) {
    .container_2 {
        width: 470px;
    }
    .line_layout_row:nth-child(odd):after, .line_layout_row:nth-child(odd):before {
        left: 68px;
    }
    .line_layout_row:nth-child(2n):after, .line_layout_row:nth-child(2n):before {
        right: 68px;
    }
}
@media screen and (max-width: 767px) {
    .line_layout_row:nth-child(odd) .Project_planning_content {
        padding-left: 20px;
    }
    .our_process_content .Project_planning_content span {
        font-size: 18px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 600px) {
    .container_2 {
        width: 470px;
    }
    .line_layout_row:nth-child(2n):after, .line_layout_row:nth-child(2n):before {
        right: 56px;
    }
    .line_layout_row:nth-child(odd):after, .line_layout_row:nth-child(odd):before {
        left: 56px;
    }
    .line_layout_row {
        padding: 25px 0;
    }
}
@media screen and (max-width: 480px) {
    .container_2 {
        width: 250px;
    }
    .img_section_op {
        width: 570px;
    }
    .line_layout_row:nth-child(odd) .Project_planning_content {
        /* padding-left: 0; */
    }
    .line_layout_row:nth-child(even) .Project_planning_content {
        /* padding-right: 0; */
    }
}

.aboutBanner h1 {
  font-size: 64px;
  font-family: "Poppins-ExtraBold";
  margin: 0 0 20px;
}

.aboutBanner p {
  font-family: "Poppins-Regular";
  color: #68696F;
}

@media screen and (max-width: 1200px) { 
  .aboutBanner h1 {
      font-size: 54px;
  }
}
@media screen and (max-width: 992px) {
  .aboutBanner .col-sm-4.d-xl-none.d-lg-block {
      display: none;
  }
}
@media screen and (max-width: 767px) { 
  .aboutBanner h1 {
      font-size: 35px;
      line-height: 40px;
  }
}

.aboutBanner h1, .hireBanner .banner-contact h1 {
  background: linear-gradient(to right,#184a88 10%, #87bbe5 50%, #184a88 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}