
.whous_item {
    text-align: center;
    border: 1px solid rgba(44, 64, 88, 0.05);
    padding: 25px;
    height: 100%;
  }
  .whous_item .whous_icon {
    width: 55px;
    margin: 0 auto ;
  }
  .whous_icon .img{
    height: 54px;
  }
  .whous_item h3 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 26px 0 10px;
    font-family: "Poppins-Medium";
  }
  .whous_item p {
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    margin: 0;
    font-family: "Poppins-Regular";
  }
  
  .BuildWrapper {
    /* background-color: #e8f2ff; */
    background-color: #fafbfc;
    color: #68696F;
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    border-top: 1px solid rgba(52, 66, 104, 0.07);
      border-bottom: 1px solid rgba(52, 66, 104, 0.07);
  }