/* V I D E O   S E C T I O N */
.video_section {
  background: #f6fcff;
  color: #221b26;
}
.video_section iframe {
  width: 100% !important;
}
.video_section h2 {
  margin-bottom: 24px;
  font-size: 30px;
  font-family: "Poppins-Regular";
}
.video_section p {
  margin: 0 30px 0 0;
  font-size: 15px;
  line-height: 1.7;
  color: #221b26;
  font-family: "Poppins-Regular";
}
.vider_wrapper {
  border-radius: 5px;
  position: relative;
  font-size: 0;
  z-index: 11;
}
.vider_wrapper video {
  width: 100%;
  /* border-radius: 10px; */
  height: 100%;
  position: relative;
  z-index: 11;
  border-radius: 5px;
}
.vider_wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(135, 187, 229);
  background: linear-gradient(
    90deg,
    rgba(135, 187, 229, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(5deg);
  z-index: -1;
  border-radius: 5px;
}
.playpause {
  background-image: url(/assets/video/Play-button.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  margin: auto;
  background-size: 117px;
  background-position: center;
  z-index: 1111;
}

/*Sub heading*/

.heading_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading_wrapper:after,
.heading_wrapper:before {
  content: "";
  display: inline-flex;
  width: 32px;
  height: 2px;
  background: #2b5e9f;
  border-radius: 5px;
}
.heading_wrapper span {
  font-size: 16px;
  line-height: 34px;
  color: #2b5e9f;
  font-family: "Poppins-SemiBold";
  margin: 0 16px;
}
.heading {
  color: #221b26;
  font-size: 32px;
  font-family: "Poppins-ExtraBold";
  margin: 7px 0 10px;
}
.sub_heading {
  font-family: "Poppins-Medium";
  margin: 20px 0 30px;
}
@media screen and (max-width: 767px) {
  .playpause {
    background-size: 45px;
  }
  .vider_wrapper {
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 0;
  }
  .video_section h2 {
    margin-bottom: 16px;
    font-size: 20px;
  }
  .video_section p {
    margin: 0 0 30px 0;
  }
}
@media screen and (max-width: 992px) {
  .video_section p {
    margin-bottom: 50px;
  }
  .video_section h2{ 
    margin-bottom: 16px;
  font-size: 20px;
  font-family: "Poppins-bold";
}
}
